<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="http://mastervision.su/veda-fortune-channel/img/banner.jpg")
		meta(name="keywords" content="Ольга Веда, Мастервижн, магия, удача, денежный канал")
		meta(name="robots" content="index, follow")
		meta(name="revisit-after" content="7 days")
		meta(property="og:image" content="")
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.png")
		title «Получение ключей силы и управления жизнью»
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/jquery.fancybox.min.css")
		link(rel="stylesheet" href="css/styles.css")
	body#course
		#main_screen
			include pug/header
			include pug/course/course_first_screen_section
		include pug/course/course_plan
		include pug/author
		include pug/testimonials
		include pug/course/course_scripts