section#author
    h3 О тренере
    .veda_wrap
        .container
            img(src="img/veda_about.png", alt="Ольга Веда")#veda_about
            .author_caption
                h4 Ольга Веда 
                p Я волшебница в 3 поколении, постоянно обучающаяся современным эзотерическим и магическим практикам, имею множество дипломов
                p Начала я обучаться еще в детстве, помогая своей бабушке в различных ритуалах, тогда же получила древние магические знания, но магия как и другая наука не стоит на месте. Уже во взрослом возрасте я прошла школу ДЭИР, изучала метод системных расстановок, закончила Американскую школу гипноза, обучалась в институте реинкарнационики. Я живу в Египте, где познаю и успешно применяю секретные знания Египетской магии, которая была доступна только жрецам Фараонов
                p  Благодаря объединению древних знаний и современных методик мною была выработана авторская программа, направленная на исцеление души и тела и гармонизацию всех областей жизни не только обратившегося ко мне человека, но и его окружения автоматически
                p Исключительность моего метода состоит в том, что в процессе работы я не только убираю проблему, но и даю Вам инструменты для коррекции Вашей жизни, то есть на подсознательном уровне Вы обучаетесь работать самостоятельно, что в дальнейшем позволит Вам не обращаться ни к кому и не тратить Ваши деньги.
            .clearfix
            #licenses
                .row
                    .col-md-3
                        a(href="img/cert_1_min.png" data-fancybox="images")
                            img(src="img/cert_1_min.png", alt="Сертификат 1")
                    .col-md-3
                        a(href="img/cert_2_min.png" data-fancybox="images")
                            img(src="img/cert_2_min.png", alt="Сертификат 2")
                    .col-md-3
                        a(href="img/cert_3_min.png" data-fancybox="images")
                            img(src="img/cert_3_min.png", alt="Сертификат 3")
                    .col-md-3
                        a(href="img/cert_3_min.png" data-fancybox="images")
                            img(src="img/cert_3_min.png", alt="Сертификат 4")
            .clearfix
        a.button(href="/astro-star-magic/partnership" target="_blank") Партнерская программа