section#author
    .container
        h3 О тренере
        img#moon(src="img/moon.png", alt="Луна")
        .author_wrapper
            span.hidden-link(data-link="http://goo.gl")
                img(src="img/lidia.png", alt="")
            .author_caption
                h4 Лидия Хэлль 
                p Практикует астрологию 9 лет. Счастлива тем, что занимается любимым делом и уже помогла многим людям найти себя в этой жизни
                    | Ведущая  школы Астрологии   - Счастливый Юпитер с 2014 года. Открыла свою школу Астрологии не только для того, чтобы передать  свои знания и опыт, но и помочь людям стать астрологами-профессионалами.  
                    | Предпочитает заниматься со студентами длительное время, что помогает им начать с нуля и стать в течение обучения профессиональным астрологом. Система обучения построена таким образом, что каждый студент может дойти до работы с незнакомым клиентом и, начав помогать другим, зарабатывать с помощью Астрологии
                br
                p Таролог с 12-летним стажем, имеет 2 ступени Усуи Рэйки Риохо.
                    | Исследует разные способы гадания: карты Ленорман, гадание на воске, гадание на кофейной гуще и другие. Работает с разными метафорическими картами как колода OH, Morena, Persona, Personita, Tan Doo
                h5 Любимые направления в Астрологии:
                ul.lovely_dir
                    li
                        span Космограмма
                    li
                        span Формула Души 
                    li
                        span Транзиты
                    li
                        span Хорарная Астрология
                    li
                        span Совместимость
                .clearfix
        .education
            .row
                .col-md-4
                    h5 Спец-образование:
                    ul.lovely_dir
                        li
                            span Колледж классической Астрологии - Allgeier и Noe, закончила 3 летнее обучение с сертификатом мастера
                        li
                            span Школа русской Астрологии "Волхвы", закончила с дипломом - Формула Души
                        li
                            span ВШКА, разные семинары и мастер-классы
                #licenses
                    .col-md-4
                        .row
                            .col-md-6
                                a(href="img/cert_1_big.jpg" data-fancybox="images")
                                    img(src="img/cert_1.png", alt="Сертификат 1")
                            .col-md-6
                                a(href="img/cert_2_big.jpg" data-fancybox="images")
                                    img(src="img/cert_2.png", alt="Сертификат 2")
                    .col-md-4
                        .row
                            .col-md-6
                                a(href="img/cert_3_big.jpg" data-fancybox="images")
                                    img(src="img/cert_3.png", alt="Сертификат 3")
                            .col-md-6
                                a(href="img/cert_4_big.jpg" data-fancybox="images")
                                    img(src="img/cert_4.png", alt="Сертификат 4")
        .clearfix
        a.button(href="/astro-star-magic/partnership" target="_blank") Партнерская программа