section#first_screen_section
    .container
        p#pre Открытый онлайн-вебинар
        h1 Подключение к каналу удачи за 5 дней!
        h2 Регрессия. Виртуальное моделирование. Исправление родовой системы. Энергетический трансформатор
        .aut_n_date
            p Автор: 
                span Ольга Веда
            p 5 - 9 февраля 
                span 19:00 мск
        .video_wrapper
            iframe(src="https://www.youtube.com/embed/ZTb9vlzLuKQ?rel=0&autoplay=1", allowfullscreen)
        img#veda_main(src="img/veda_main.png", alt="Ольга Веда")