//- Mixins for section
mixin plan(title,small,...items)
	h4= title
		small= small
	ul
		each item in items
			li
				span= item

//- Section
section#plan
	h3 План интенсива
	.container
		.plan_list
			.plan_wrapper
				.day_number
				.plan_caption
					+plan('Получение энергии удачи','На занятии понадобятся: соль, новый носовой платок, ручка, бумага','От чего зависит наш уровень удачи','Что мешает нам выбрать удачный вариант?', 'Как увеличить уровень удачи?', 'Ритуал очистки энергетических каналов и получение энергии удачи')
				p.plan_bonus
					strong Бонус 
					| как узнать кто вам вредит?
			.plan_wrapper
				.day_number
				.plan_caption
					+plan('Как привлечь денежную удачу','На занятии понадобятся: ручка бумага, конфеты, свеча, любая купюра','Почему нам часто не везет в деньгах?','Родовые причины денежных неудач', 'Ритуал получения энергии рода', 'Для чего нужны ключи', 'Откуда беруться долги и кредиты?', 'Зарядка купюры на богатство и привязка ее к моему денежному каналу')
				p.plan_bonus
					strong Бонус 
					| как защититься от самосглаза
			.plan_wrapper
				.day_number
				.plan_caption
					+plan('Как найти свой путь в жизни','На занятии понадобятся: ручка, бумага','От чего зависит наше предназначение','Какие силы ведут нас по жизни', 'Магия как профессия', 'Ритуал "Волшебный паспорт"')
				p.plan_bonus
					strong Бонус 
					| ритуал для привлечения богатого жениха
			.plan_wrapper
				.day_number
				.plan_caption
					+plan('Как привлечь удачу в личную жизнь','На занятии понадобятся: ручка, бумага, свеча','Особенности личной жизни в эпоху невежества','Почему возникают проблемные отношения', 'Как приворожить и удержать партнера', 'Ритуал прокачки энергии любви')
				p.plan_bonus
					strong Бонус 
					| как защититься от самосглаза
			.plan_wrapper.fist_day
				.day_number
				.plan_caption
					+plan(' Коррекция здоровья и открытие канала удачи','На занятии понадобятся: ручка, бумага, свеча','Почему мы болеем','Кто такой алкогольный бес и как избавиться от алкоголизма', 'Как избавиться от лишнего веса', 'Ритуал исцеления')
				p.plan_bonus
					strong Бонус 
					| как ускорить исполнение желаемого
				p.plan_bonus
					strong Супербонус 
					| ритуал открытия канала удачи
			.clearfix
		a.button(href="javascript:void(0);" data-toggle="modal" data-target="#myModalForm") Записаться