//- Mixins for section
mixin plan(img,title,...items)
	.plan_wrapper
		.img_wrapper
			img(src=img, alt= title)
		.plan_caption
			h4= title
			ul
				each item in items
					li
						span= item
//- Section
section#plan
	.container
		h3 План интенсива
		+plan('img/day_1.png','Учимся строить свой гороскоп рождения, легко и просто!', 'Введение в Астрологию и знакомство с символами', 'Космограмма, что это такое и ее возможности, разбираем космограмму девушки и  космограмму убийцы. Совместимость по космограмме, мать и дочь', 'Знакомство с Формулой Души и ее возможностями', 'Является ли  любой гороскоп пожизненным приговором?','Астрология, точная ли это наука?','Может ли Астрология помочь в работе экстрасенсов?',   'Можно ли совмещать Астрологию с другими эзотерическими практиками?','Как правильно выбрать учителя и школу Астрологии','Астрология, простая и легкая ли это наука на самом деле?','Учимся строить свою космограмму и Формулу Души')
		+plan('img/day_2.png','Дети индиго', 'Являетесь ли вы одним из племени индиго, либо же ваши родные и близкие, учимся считывать показатели по вашей дате рождения','Определяем ваш тип Индиго','Вы узнаете способности детей Индиго, их таланты, душевные качества, возможности и какие изменения они принесут в наш мир.','Кто создаст новую технологию и раскроет секреты магии?','Чем уникально наше время и что такое парад высших планет?','Кто способен общаться с потусторонним миром и чувствовать катастрофы?','Кто построит летающие тарелки и будет контактировать с НЛО?')
		+plan('img/day_3.png', 'Учимся толковать вашу космограмму','Кардинальный, фиксированный и мутабельный крест','Стихия огня, земли, воздуха и воды','Определяем возраст вашей души','Толкование космограммы в целом','Возможности космограммы в совместимости между людьми','Наше космическое время и 7 летние циклы, определяем какой знак зодиака управляет вашим жизненным периодом и используем его на благо','Пройдя этот урок, вы научитесь разбирать  космограмму и определять ваши скрытые стороны характера  и возможности.  Вы узнаете к какому типу темперамента (сангвиник, холерик, меланхолик, флегматик)  вы относитесь, учитывая ваш гороскоп Также вы научитесь видеть все это в космограммах других людей')
		+plan('img/day_4.png', 'Астрологическая совместимость по формуле души', 'Центр формулы души', 'Знакомство с Луной и Венерой','Орбиты Формулы души, орбита Венеры и орбита Марса','Кто я - женщина богиня, или женщина - мать?','Учимся делать совместимость на вас и вашего партнера')
		+plan('img/day_5.png', 'Ворота Золушки', 'Знакомство с транзитами', 'Аспекты и их значение', 'Учимся рассчитывать ворота Золушки или  благоприятный период, приносящий удачу, успех, любовь, деньги, замужество и многие другие подарки судьбы', 'Практика')
		a.button(href="javascript:void(0);" data-toggle="modal" data-target="#myModalForm") Записаться