//- Mixins for section
mixin plan(img,title,small,par,...items)
	.plan_wrapper
		.day_number
		.plan_caption
			h4= title
				small= small
			ul
				each item in items
					li
						span= item
			p.bonus
				strong Бонус 
			= par

//- Section
section#plan
	.container
		h3 План интенсива
		+plan()
		a.button(href="javascript:void(0);" data-toggle="modal" data-target="#myModalForm") Записаться