section#risons
	.container
		h3 8 причин чтобы посетить интенсив
		#risons_slider.risons-crsl-items(data-navigation="navbtns")
			.crsl-wrap.row
				.crsl-item.col-md-3
					.item
						img(src="img/planet_1.png", alt="Планета").testimonial_photo
						h5 Вы устали от безденежья и желаете понять причину ваших болезней?
						p Вы узнаете, почему вселенная закрывает денежный поток и  посылает нам болезни. Вы также узнаете, что нужно делать, чтобы обрести финансовое благополучие и оставаться здоровым
				.crsl-item.col-md-3
					.item
						img(src="img/planet_2.png", alt="Планета").testimonial_photo
						h5 Вы пробовали разбирать ваш гороскоп самостоятельно, но у вас ничего не получается
						p На интенсиве,  вы научитесь  толковать космограмму и вашу формулу души на начальном уровне
				.crsl-item.col-md-3
					.item
						img(src="img/planet_3.png", alt="Планета").testimonial_photo
						h5 Вы желаете узнать,  насколько вы совместимы с вашим партнером?
						p Вы научитесь делать астрологическую совместимость на вaс и вашего партнера
				.crsl-item.col-md-3
					.item
						img(src="img/planet_1.png", alt="Планета").testimonial_photo
						h5 Вы хотите знать, кто такие - дети индиго и как с ними взаимодействовать?
						p На интенсиве  вы узнаете, кто такие особо одаренные дети индиго, какая у них миссия  и как с ними взаимодействовать. Вы также узнаете, являетесь ли вы одним из них!
				.crsl-item.col-md-3
					.item
						img(src="img/planet_2.png", alt="Планета").testimonial_photo
						h5 Вы не можете понять себя и окружающих вас людей: будь то ваши родители, дети, муж, жена, начальник или коллега по работе?
						p На интенсиве вы научитесь считывать информацию из гороскопа любого человека о его поведение и характере
				.crsl-item.col-md-3
					.item
						img(src="img/planet_3.png", alt="Планета").testimonial_photo
						h5 Вы хотите совместить Астрологию с другими практиками, такими, как психология,  Рэйки карты Таро и т.д?
						p Вы поймете с какими эзотерическими практиками можно совмещать Астрологию и как это сделать
				.crsl-item.col-md-3
					.item
						img(src="img/planet_1.png", alt="Планета").testimonial_photo
						h5 Вы хотите знать, когда нужно действовать, чтобы прийти к желанному успеху, счастью и  благополучию?
						p Вы научитесь определять ваши индивидуальные даты, особо удачные для замужества, зачатия детей, начало нового дела или открытия бизнеса
				.crsl-item.col-md-3
					.item
						img(src="img/planet_2.png", alt="Планета").testimonial_photo
						h5 Вы спрашиваете себя, почему у вас не работают различные магические обряды на успех и  денежное благополучие?
						p Вы узнаете, что говорят по этому поводу звезды и что нужно делать, чтобы прийти к желанному успеху, без магии и волшебства
			nav.slidernav
				#navbtns.clearfix
					a(href="javascript:void(0);" class="previous") &larr;
					a(href="javascript:void(0);" class="next") &rarr;
		a.button(href="javascript:void(0);"  data-toggle="modal" data-target="#myModalForm") Записаться