mixin rissons(p_1,p_2,subclass_pic)
	.crsl-item.col-md-3
		.item&attributes(attributes)= subclass
			.risson_pic(class= subclass_pic)
			p= p_1
			p= p_2
section#risons
	.container
		h3 11 причин посетить интенсив
		#risons_slider.risons-crsl-items(data-navigation="navbtns")
			.crsl-wrap.row
				+rissons('Нет результата при решении проблемы общепринятым человеческим способом?',' Получите легкое и быстрое решение вопросов магическими способами', 'first_risson')(class="red")
				+rissons('Постоянно ведете борьбу за место под солнцем?','Получите подарки Вселенной', 'second_risson')(class="green")
				+rissons('Испытываете вечные финансовые трудности?','Улучшите материальное благосостояние', 'third_risson')(class="orange")
				+rissons('Постоянная усталость преследует вас, отсутствует нужное количество энергии','Сможете поднять вашу энергетику  на максимальный уровень', 'fourth_risson')(class="blue")
			.row
				+rissons('У вас имеются проблемы со здоровьем?',' Избавитесь от болезней', 'fifth_risson')(class="red")
				+rissons('В вашей жизни наступила черная полоса?','Откроете канал своей удачи', 'sixth_risson')(class="green")
				+rissons('Не складываются личные отношения?',' Гармонизируете свою личную жизнь', 'seventh_risson')(class="orange")
				+rissons('Постоянный выбор наихудшего варианта из всех возможных','Осуществите выбор наилучшего варианта', 'eighth_risson')(class="blue")
			.row
				.col-md-1
				+rissons('Не видите свой путь','Откроете свое истинное предназначение', 'ninth_risson')(class="red")
				+rissons('Невозможность управлять своей жизнью',' Возьмете в собственные руки полное управление своей жизнью', 'tenth_risson')(class="green")
				+rissons('Невозможность исполнить свою мечту','Сделаете исполнение желаний обычным делом', 'eleventh_risson')(class="orange")
			//- nav.slidernav
			//- 	#navbtns.clearfix
			//- 		a(href="javascript:void(0);" class="previous")
			//- 		a(href="javascript:void(0);" class="next")
		a.button(href="javascript:void(0);"  data-toggle="modal" data-target="#myModalForm") Записаться