section#testimonials
    .container
        h3 Отзывы учеников
        .row
            .col-md-6
                include text_testims
            .col-md-6
                include video_testims
        .clearfix
    include footer