.carousel.slide(data-ride="carousel")#carousel_text
        .carousel-inner(role="listbox")
            .item.active
                .carousel-caption
                    h5 Татьяна прыгунова
                    p Курс «МАГИЯ ИСПОЛНЕНИЯ ЖЕЛАНИЙ!» Ольги Веды дал много новой, интересной информации и большое количество необходимых инструментов и техник по формулировке и достижению желаемого. Как всегда, у Ольги Веды курс шел на одном дыхании, с большим объемом данных, обратной связью, четкой структурой и творческим подъемом
            .item
                .carousel-caption
                    h5 Татьяна прыгунова
                    p Курс «МАГИЯ ИСПОЛНЕНИЯ ЖЕЛАНИЙ!» Ольги Веды дал много новой, интересной информации и большое количество необходимых инструментов и техник по формулировке и достижению желаемого. Как всегда, у Ольги Веды курс шел на одном дыхании, с большим объемом данных, обратной связью, четкой структурой и творческим подъемом
        ol.carousel-indicators
            li(data-target="#carousel_text" data-slide-to="0" class="active")
            li(data-target="#carousel_text" data-slide-to="1")
