#text_testimonials
    #text_slider.text-crsl-items(data-navigation="txt-testm-btns")
        .crsl-wrap.row
            .crsl-item.col-md-3
                img(src="img/photo_2.png", alt=" Светлана Шиманска")
                h5  Светлана Шиманска
                p Формула Души раскрыла новый мир возможностей, и вместе с тем освободила много энергии, закрыв ответами издавна существовавшие внутри вопросы. Вот только малая толика покрытых почему.
                    br 
                    | - Почему я с детства рукодельная и без этого жить не могу
                    br 
                    | - Почему иногда при принятии решения есть внутренние противоречия и борьба
                    br 
                    | - Почему имею так много различных интересов и мне важно это разнообразие
                    br 
                    | - Почему у меня особое отношение к информации и очень важно, что бы она была правильно распределена в голове и разложена по полочкам
                    br 
                    | - Почему я люблю работать с ножами, и мне важна острота инструмента
                    br 
                    | - Почему я с детства интересуюсь эзотерическими науками
                    br 
                    | - Почему я при желании легко могу найти ответ на любой интересующий вопрос
                    br 
                    | - Почему годы жизни с 36 до 39 были такими бурными и поворотными
                    br 
                    | - Почему саморазвитие в моей жизни имеет такую важность
                    br 
                    | - Почему мне не стоит гневаться, иначе это может привести к большим разрушениям
                    br 
                    | - Почему так важна в моей жизни медитация и особое погруженное состояние
                    br 
                    | Знания, полученные в курсе «Формула Души» помогли осознать «кто Я?» на Земле и как мне наилучшим образом решать свои жизненные задачи. Как наиболее эффективно взаимодействовать с окружением. Какими делами не стоит заниматься, дабы не потерять здоровье. А также, в процессе обучения, у меня появилась новая профессия и планы на ближайшие 7 лет.
                    | Еще раз благодарю Лидию Хэлль за школу, за знания, за любовь.
            .crsl-item.col-md-3
                img(src="img/photo_3.png", alt="Ирина Парнякова ")
                h5 Ирина Парнякова 
                p Признаюсь честно, обращаясь к Вам за консультацией, я даже не думала, что начну изучать астрологию. Просто получив консультацию, которая все расставила на свои места , я задумалась о том, что существуют такие знания, пользуясь которыми совершенно незнакомый тебе человек – помогает взглянуть на вещи по–другому, а главное, что после этого становится легче определится!  Ведь это же просто прекрасно, когда ты можешь сам что-то сделать для себя и для окружающих, помогать другим людям! Поэтому, когда я узнала, что Вы открываете школу, записалась, не раздумывая. И хотя в начале мне было трудно, но правда - очень интересно, я стала стараться еще с большим усердием! Трудность моя заключается в том, что я очень быстро заинтересовываюсь всем новым и также быстро остываю). Ваша школа настолько интересна, что впервые в жизни я не бросила новый, для себя проект,  но и хочу с удовольствием дальше продолжать обучение
                    br
                    | Все  очень познавательно, теперь  только практиковаться! После пройденного первого блока обучения, я стала делать космограммы  своим знакомым, они в восторге!!!  Говорят, что всё на 100%, а одна подруга даже написала что 200%!!! Это заряжает меня позитивом и стремлением обучаться дальше! Спасибо Вам , Лидия - это Ваша заслуга!
                    br
                    | Вы рассказываете все подробно и понятно! Удобно, что любое занятие можно прослушать в записи и просмотреть слайды! Знаний много, они преподносятся грамотно! Каждое занятие производит огромное впечатление.  От всей души Благодарю за Ваш труд!
                    br
                    | Теперь знаю точно, что я уже сделала шаг в нужном направлении!!!!
            .crsl-item.col-md-3
                img(src="img/photo_1.png", alt="Татьяна Носкова")
                h5 Татьяна Носкова
                p Лидия, хочу выразить Вам огромную благодарность за те знания, которые мы получили от Вас в изучении Астрологии. Вы очень профессионально проводите уроки, на которых не только познавательно, но и крайне интересно. Интересно узнавать, на примерах реальных людей, как много могут рассказать звезды о человеке.  Вы открыли для нас новый мир, увлекли настолько, что остановиться невозможно. Первый отзыв от реального клиента, который написал, что составленная для него космограмма верна на 100% воодушевил и придал еще больший стимул к продолжению обучения. Вы настоящий Учитель, и я желаю Вам больших профессиональных успехов на этом пути! Благодарю за то, что пригласили в свою школу Астрологии!
        nav.slidernav
            #txt-testm-btns.clearfix
                a(href="javascript:void(0);" class="previous") &larr;
                a(href="javascript:void(0);" class="next") &rarr;