.carousel.slide(data-ride="carousel")#carousel_video
    .carousel-inner(role="listbox")
        .item.active
            .carousel-caption.video_wrapper(data-youtube="ahjDjZpl088")
                img(src="img/video_testim_1.jpg" alt="Видео-отзыв 1" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="cgAH_CIFGoo")
                img(src="img/video_testim_2.jpg" alt="Видео-отзыв 2" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="F4lLpPSd6iA")
                img(src="img/video_testim_3.jpg" alt="Видео-отзыв 3" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="8HH6ugeVNu0")
                img(src="img/video_testim_4.jpg" alt="Видео-отзыв 4" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="1OVEEi7YmLk")
                img(src="img/video_testim_5.jpg" alt="Видео-отзыв 5" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="LtzEbAJVvds")
                img(src="img/video_testim_6.jpg" alt="Видео-отзыв 6" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="SA_biPb7WLA")
                img(src="img/video_testim_7.jpg" alt="Видео-отзыв 7" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="pfJe7bOxj20")
                img(src="img/video_testim_8.jpg" alt="Видео-отзыв 8" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="fYREJPTN-3s")
                img(src="img/video_testim_9.jpg" alt="Видео-отзыв 9" ).video_testimonial
    ol.carousel-indicators
        li(data-target="#carousel_video" data-slide-to="0" class="active")
        li(data-target="#carousel_video" data-slide-to="1")
        li(data-target="#carousel_video" data-slide-to="2")
        li(data-target="#carousel_video" data-slide-to="3")
        li(data-target="#carousel_video" data-slide-to="4")
        li(data-target="#carousel_video" data-slide-to="5")
        li(data-target="#carousel_video" data-slide-to="6")
        li(data-target="#carousel_video" data-slide-to="7")
        li(data-target="#carousel_video" data-slide-to="8")