.carousel.slide(data-ride="carousel")#carousel_video
    .carousel-inner(role="listbox")
        .item.active
            .carousel-caption.video_wrapper(data-youtube="YiG6T6GSWBs")
                img(src="img/video_testim.jpg" alt="Видео-отзыв 1" ).video_testimonial
        .item
            .carousel-caption.video_wrapper(data-youtube="Ijx7PDX8BVw")
                img(src="img/video_testim.jpg" alt="Видео-отзыв 2" ).video_testimonial
    ol.carousel-indicators
        li(data-target="#carousel_video" data-slide-to="0" class="active")
        li(data-target="#carousel_video" data-slide-to="1")