section#course_plan
	h3 План курса
	.container
		.plan_list#tabs
			ul.base_links
				li
					a(href="#silver_tabs") Серебро
				li
					a(href="#gold_tabs") Золото
				li
					a(href="#platinum_tabs") Платина
				li
					a(href="#vip_tabs") Супер V.I.P
			.wrapper_main#silver_tabs
				h4 Пакет СЕРЕБРО - 6 занятий
					small Настройка на удачу
				ul.lessons_links
					li
						a(href="#silver_tab-1") Урок 1
					li
						a(href="#silver_tab-2") Урок 2
					li
						a(href="#silver_tab-3") Урок 3
					li
						a(href="#silver_tab-4") Урок 4
					li
						a(href="#silver_tab-5") Урок 5
					li
						a(href="#silver_tab-6") Урок 6
					li
						a(href="#silver_tab-7") Бонус
					.clearfix
				#silver_tab-1
					h5 Урок 1. Настройка организма на магическую работу.
					ol.lessons
						li
							span Почему сейчас нужна магия. Особенности нынешнего времени
						li 
							span Как узнать чего же мы хотим на самом деле?
						li
							span Что такое ключ?
						li 
							span Инструменты для получения ключей
						li 
							span Особенности нашей памяти
						li 
							span Определение доминирующего канала восприятия
				#silver_tab-2
					h5 Урок 2. Магическая чистка и работа с проблемами
					ol.lessons
						li 
							span Как то что сидит внутри на управляет нашей жизнью
						li 
							span Как избавиться от ограничивающих убеждений
						li 
							span Избавление от негативного личного опыта
						li 
							span Как негативный опыт прошлых жизней влияет на нынешнее воплощение
						li 
							span Чистка сосуда греха
						li 
							span Что такое продажа судьбы
						li 
							span Ритуал формирования новой  судьбы
				#silver_tab-3
					h5 Урок 3. Магическая чистка и работа с проблемами (продолжение)
					ol.lessons
						li 
							span Первичная настройка организма на исцеление
						li 
							span Избавление от блоков в денежных каналах
						li 
							span Для чего нужны враги и конфликты
						li 
							span Сонастройка с моим целительным каналом
						li 
							span Как платить силам
						li 
							span Магическое равновесие-основное условие работы мага
				#silver_tab-4
					h5 Урок 4. Что такое ключи силы
					ol.lessons
						li 
							span Что такое негативные ключи и как они активируются
						li 
							span Определение ключей детства
						li 
							span Получение ресурсных ключей детства
						li 
							span Ритуал активации ключей
						li 
							span Что такое слова силы
						li 
							span Магический круг
						li 
							span Ритуал вживления ключа в магическую работу
				#silver_tab-5
					h5 Урок 5. Получение ключей удовольствия
					ol.lessons
						li 
							span Для чего нужен ключ удовольствий?
						li 
							span В чем ценность ключа удовольствий для нынешнего времени?
						li 
							span Ритуал открытия и диагностики канала удовольствия
						li 
							span Получение ключа удовольствия
						li 
							span Как мы выбираем себе удовольствия?
						li 
							span Универсальный способ получения удовольствий всегда
						li 
							span Запуск получения позитивных удовольствий
				#silver_tab-6
					h5 Урок 6. Самые негативные удовольствия. Как перепрограммировать себя?
					ol.lessons
						li 
							span Негативное удовольствие от отношений
						li 
							span Гармонизация отношений с помощью ангела-хранителя
						li 
							span Как преодолеть стену в отношениях
						li 
							span Зарядка ритуального ножа атама
						li 
							span Избавление от негативного удовольствия от алкоголя
						li 
							span Избавление от негативного удовольствия от курения
				#silver_tab-7
					h5 Название
					p Описание
			.wrapper_main#gold_tabs
				h4 Пакет ЗОЛОТО - 14 занятий
					small Ключи от будущего в прошлом
				ul.lessons_links
					li
						a(href="#gold_tabs-1") Урок 7
					li
						a(href="#gold_tabs-2") Урок 8
					li
						a(href="#gold_tabs-3") Урок 9
					li
						a(href="#gold_tabs-4") Урок 10
					li
						a(href="#gold_tabs-5") Урок 11
					li
						a(href="#gold_tabs-6") Урок 12
					li
						a(href="#gold_tabs-7") Урок 13
					li
						a(href="#gold_tabs-8") Урок 14
					li
						a(href="#gold_tabs-9") Бонус
					.clearfix
				#gold_tabs-1
					h5 Урок 7. Регресии в прошлую жизнь
					ol.lessons
						li 
							span Регрессия в прошлую жизнь
						li 
							span Как увидеть все воплощения сразу
						li 
							span Различные способы увидеть все свои воплощения
						li 
							span Как попасть в то воплощение,которое вам нужно
						li 
							span Как получить ключи из прошлых жизней
				#gold_tabs-2
					h5 Урок 8. Как получить ключи из прошлых жизней
					ol.lessons
						li
							span Создание намерения получения нужного ключа
						li
							span Ритуал получение ключа
						li
							span Женские ключи
						li
							span Мужские ключи
						li
							span Знакомство с сущностью смерти
						li
							span Почему так важно осознание
				#gold_tabs-3
					h5 Урок 9. Все о смерти
					ol.lessons
						li
							span Что такое смерть
						li
							span Воспоминание опыта смерти в прошлых жизнях
						li
							span Откуда мы появились
						li
							span Кто такие Высшие и куда мы попадаем после смерти?
						li
							span Как узнать задачу души и  улучшить свою жизнь, если ваша душа отправлена на отработку
						li
							span Что такое кармическая задача
						li
							span Как решать кармическую задачу легким и комфортным способом
				#gold_tabs-4
					h5 Урок 10. Виртуальное моделирование
					ol.lessons
						li 
							span Что такое виртуальное моделирование
						li 
							span Основные принципы виртуального моделирования
						li 
							span Как мы видим виртуальное поле
						li 
							span Значение символов на виртуальном поле
						li 
							span Техника безопасности при работе виртуальным моделированием
						li 
							span Работа с препятствиями на виртуальном поле
				#gold_tabs-5
					h5 Урок 11. Виртуальное моделирование (продолжение)
					ol.lessons
						li 
							span Что такое совесть
						li 
							span Как вычислить опасные для вас намерения  человека или организации методом виртуального моделирования
						li 
							span В чём сила Мага
						li 
							span Ритуал получения ключа для работы в виртуальном поле
						li 
							span Техника создания элементаля
				#gold_tabs-6
					h5 Урок 12. Виртуальное моделирование (продолжение)
					ol.lessons
						li 
							span Кодовые фразы для разрешения различных ситуаций
						li 
							span Как работать со сглазом, порчей, проклятием и другими негативными магическими воздействиями методом виртуального моделирования
						li 
							span Что такое непрогляд и как с ним работать в виртуальном поле
						li 
							span Почему мы страдаем от зависти и как от неё избавиться с помощью виртуального моделирования
				#gold_tabs-7
					h5 Урок 13. Как деактивировать негативные программы в виртуальном поле
					ol.lessons
						li 
							span Влияние на нашу жизнь рода
						li 
							span Основные понятия для работы с родом
						li 
							span Как происходит наследование   программ рода
						li 
							span Распространенные негативные родовые программы
						li 
							span Сильные и слабые родовые аспекты
						li 
							span Иерархия на виртуальном поле
						li 
							span Свеча для раскрытия вариантов
						li 
							span Чистка рода
				#gold_tabs-8
					h5 Урок 14. Работа с эгрегорами методом виртуального моделирования
					ol.lessons
						li 
							span Как эгрегоры влияют на нашу жизнь
						li 
							span Заклинания и фразы для работы с эгрегорами
						li 
							span Как исправить иерархию на поле
						li 
							span Восстановление нормального течения энергии в родовой системе и целостности родового эгрегора
						li 
							span Как заказать испытание врагу и самому избежать испытания
				#gold_tabs-9
					h5 Название
					p Описание
			.wrapper_main#platinum_tabs
				h4 Пакет ПЛАТИНА - 26 занятий
					small Энергетическая перезагрузка
				ul.lessons_links
					li
						a(href="#platinum_tabs-1") Урок 15
					li
						a(href="#platinum_tabs-2") Урок 16
					li
						a(href="#platinum_tabs-3") Урок 17
					li
						a(href="#platinum_tabs-4") Урок 18
					li
						a(href="#platinum_tabs-5") Урок 19
					li
						a(href="#platinum_tabs-6") Урок 20
					li
						a(href="#platinum_tabs-7") Урок 21
					li
						a(href="#platinum_tabs-8") Урок 22
					li
						a(href="#platinum_tabs-9") Урок 23
					li
						a(href="#platinum_tabs-10") Урок 24
					li
						a(href="#platinum_tabs-11") Урок 25
					li
						a(href="#platinum_tabs-12") Урок 26
					li
						a(href="#platinum_tabs-13") Бонус
					.clearfix
				#platinum_tabs-1
					h5 Урок 15. Кардинальная проработка здоровья
					ol.lessons
						li 
							span Как болезни приходят из прошлых жизней
						li 
							span Как получить ключ исцеления
						li 
							span Как род просит об исцелении
						li 
							span Получение исцеления с помощью Высших
						li 
							span Отключение от эгрегора болезни
						li 
							span Подключение к эгрегору здоровья
						li 
							span Как избавиться от алкоголизма методом виртуального моделирования
				#platinum_tabs-2
					h5 Урок 16. Кардинальная проработка здоровья (продолжение)
					ol.lessons
						li 
							span Как обеты,клятвы и обещания влияют на наше здоровье
						li 
							span Как отменить обеты,клятвы и обещания из нынешней и прошлых жизней
						li 
							span Что такое магический переклад,как он влияет на здоровье и как от него избавиться
						li 
							span Как переложить болезнь без последствий
						li 
							span Что такое родовой магический переклад и как от него избавится
						li 
							span Создание печати здоровья
				#platinum_tabs-3
					h5 Урок 17. Комплексная работа с лишним весом
					ol.lessons
						li 
							span Почему люди набирают вес
						li 
							span Родовые причины лишнего веса. Как их узнать и с ними работать
						li 
							span Лишний вес из прошлых жизней
						li 
							span Ритуал для запуска работы сущности стройности
						li 
							span Магические причины лишнего веса и их устранение
				#platinum_tabs-4
					h5 Урок 18. Кардинальная проработка личной жизни
					ol.lessons
						li 
							span Как перестать быть жертвой обмана во взаимоотношениях с людьми
						li 
							span Почему не срабатывают многие тренинги по гармонизации личной жизни?
						li 
							span Уникальный инструмент для выстраивания отношений и управления кем угодно
						li 
							span Главная ошибка построения отношений
						li 
							span Создание трансформатора гнева для исправления дисбаланса в отношениях
						li 
							span Кардинальное восстановление баланса и реальная картина отношений
				#platinum_tabs-5
					h5 Урок 19. Кардинальная проработка личной жизни (продолжение)
					ol.lessons
						li 
							span Какая личная жизнь была запланирована на это воплощение и как построить личную жизнь по своему желанию?
						li 
							span Получение ключей из будущего для идеальной личной жизни
						li 
							span Как диагностировать негативные магические воздействия, которые мешают вам выйти замуж и убрать их?
						li 
							span Ритуал поиска нужного жениха или невесты
						li 
							span Как узнать: нужно ли трансформировать отношения  и к чему это приведет?
						li 
							span Как убрать конфликты и  вывести отношения на новый уровень?
				#platinum_tabs-6
					h5 Урок 20. Энергетический трансформатор
					ol.lessons
						li 
							span Как энергии того и этого света влияют на человека
						li 
							span Как комфортно перейти на другой вид энергии
						li 
							span Четыре способа создания энергетического трансформатора
						li 
							span Самый легкий приворот и отворот
						li 
							span Как отдать человеку его негатив и поставить защиту
						li 
							span Подводные камни личной жизни мага и как от них не пострадать
				#platinum_tabs-7
					h5 Урок 21. Все о вашем предназначении
					ol.lessons
						li 
							span Все о вашей миссии
						li 
							span Какое предназначение было запланировано вам по судьбе
						li 
							span Получение ресурсов из прошлых жизней для следование по пути предназначения
						li 
							span Как уровень энергетики влияет на предназначение
						li 
							span Как вселенная дает вам ресурсы  для достижения цели
				#platinum_tabs-8
					h5 Урок 22. Все о вашем предназначении (продолжение)
					ol.lessons
						li 
							span Как магическая конструкция влияет на наше предназначение
						li 
							span Получение помощи рода в поиске своего предназначения
						li 
							span Как определить каких высот вы достигните в какой-то деятельности?
						li 
							span Работать или открыть собственное дело?
						li 
							span Секретные коды, направляющие вас на путь успеха
						li 
							span Уникальный алгоритм который всегда найдет предназначение вам или клиенту
				#platinum_tabs-9
					h5 Урок 23. Все о вашем предназначении (продолжение)
					ol.lessons
						li 
							span Как жить по зову сердца?
						li 
							span Многомерность Божественного замысла. Как найти свой путь во всех жизненных аспектах
						li 
							span Выпрошенный крест и чем он грозит. Признаки выпрошенного креста
						li 
							span Ритуал просмотра будущего
						li 
							span Как правильно возложить миссию на другого человека
						li 
							span Подключение к эгрегору вашей деятельности
				#platinum_tabs-10
					h5 Урок 24. Кардинальная проработка финансовой сферы
					ol.lessons
						li 
							span Диагностика  ваших реальных отношений с деньгами
						li 
							span Какой уровень материального благополучия и финансовых проблем мы сами себе выбрали и почему?
						li 
							span Получение ключей из будущего для идеального благосостояния
						li 
							span Проработка детских травм, которые влияют на наше материальное благополучие
						li 
							span Проработка родовых травм, которые привели к безденежью
						li 
							span Избавление от безденежья через энергетический трансформатор
				#platinum_tabs-11
					h5 Урок 25. Кардинальная проработка финансовой сферы (продолжение)
					ol.lessons
						li 
							span Проработка безденежья из прошлых жизней
						li 
							span Определение магических причин  безденежья  и устранение их
						li 
							span Отключение от эгрегора бедности
						li 
							span Подключение к эгрегору богатства
						li 
							span Подключение к денежному каналу Вселенной
						li 
							span Задействование различных энергий для получения денег в зависимости от вашей магическая конструкции
				#platinum_tabs-12
					h5 Урок 26. Кардинальная проработка финансовой сферы (продолжение)
					ol.lessons
						li 
							span Почему мы влезаем в долги и кредиты
						li 
							span Как избавиться от кармического долга
						li 
							span Погашение кредитов, избавление от преследования коллекторов методом виртуального моделирования
						li 
							span Золотая коллекция ритуалов для возврата долгов и погашения кредитов
						li 
							span Как вернуть долг, если должны вам
						li 
							span Создание и запуск личной стратегии  для исполнения крупного материального желания
				#platinum_tabs-13
					h5 Название
					p Описание
			.wrapper_main#vip_tabs
				h4 Пакет СУПЕР-ВИП - 30 занятий
					small Магия как бизнес
				ul.lessons_links
					li
						a(href="#vip_tabs-1") Урок 27
					li
						a(href="#vip_tabs-2") Урок 28
					li
						a(href="#vip_tabs-3") Урок 29
					li
						a(href="#vip_tabs-4") Урок 30
					li
						a(href="#vip_tabs-5") Бонус
					.clearfix
				#vip_tabs-1
					h5 Урок 27. Организация магического бизнеса и применение магии в обычном бизнесе
					ol.lessons
						li 
							span Какая энергия запускает трансформацию и как помочь клиенту  быстро и комфортно трансформироваться
						li 
							span Как запустить магический бизнес
						li 
							span Как создать группу в соцсетях для продажи магических услуг. Ритуал зарядки группы на привлечение клиентов и продажу услуг
						li 
							span Ритуал зарядки видео на привлечение клиентов
						li 
							span Ритуал привлечения клиентов
						li 
							span С какими проблемами надо работать?
						li 
							span Сколько денег брать за свои услуги и кого и когда можно консультировать бесплатно?
				#vip_tabs-2
					h5 Урок 28. Организация магического бизнеса и применение магии в обычном бизнесе(продолжение)
					ol.lessons
						li 
							span Как некоторые учителя превращают учеников в рабов. Как защитить себя
						li 
							span Что делать,если к вам подключился другой маг
						li 
							span Как поставить непрогляд на свою работу
						li 
							span Как распознать зомбирующие школы и противостоять зомбированию
						li 
							span Как магически воздействовать на переговоры
						li 
							span Магическое воздействие на различные проверяющие структуры
						li 
							span Почему ученики борются с учителями. С чем вы столкнетесь обучая людей
				#vip_tabs-3
					h5 Урок 29. Организация магического бизнеса и применение магии в обычном бизнесе(продолжение)
					ol.lessons
						li 
							span Особенности создания магических курсов
						li 
							span Как понять за какую работу браться, а от какой стоит отказаться
						li 
							span Как Силы воспитывают мага и клиента
						li 
							span Как принять первого клиента
				#vip_tabs-4
					h5 Урок 30. Организация магического бизнеса и применение магии в обычном бизнесе(продолжение)
					ol.lessons
						li 
							span Как работать с запросами по недвижимости
						li 
							span Как защищать свою территорию
						li 
							span Ответы на самые секретные вопросы
						li 
							span Ритуал налаживания взаимодействия с магическим эгрегором для успешной работы
				#vip_tabs-5
					h5 Название
					p Описание
		a.button(href="#table_section") Участвовать