section#course_first_screen_section
    .container
        p#pre Полный обучающий курс
        h1 Получение ключей силы и управления жизнью
        .aut_n_date
            p Автор: 
                span Ольга Веда
            p 15 февраля
                span 19:00 мск
        a.button(href="#table_section") Участвовать