section#table_section
	h3 Выберите свой пакет участия
	.container
		table#pay_table
			tbody
				tr
					th
					th Серебро
					th Золото
					th Платина
					th Супер V.I.P
				tr.hours
					td Количество занятий
					td 6
					td 14
					td 26
					td 30
				tr
					td 
						p Настройка на удачу
						span.more Подробнее
						ul.more_list
							li
								span Настройка организма на магическую работу
							li
								span Магическая чистка и работа с проблемами
							li
								span Магическая чистка и работа с проблемами (продолжение)
							li
								span Что такое ключи силы
							li
								span Получение ключей удовольствия
							li
								span Самые негативные удовольствия. Как перепрограммировать себя?
					td.plus +
					td.plus +
					td.plus +
					td.plus +
				tr
					td
						p
							strong Бонусное занятие 
							| Воспитательное воздействие высших сил в помощью Уголовного Кодекса
					td.plus +
					td.plus +
					td.plus +
					td.plus +
				tr
					td 
						p Ключи от будущего в прошлом
						span.more Подробнее
						ul.more_list
							li
								span Регрессии в прошлую жизнь
							li
								span Как получить ключи из прошлых жизней
							li
								span Все о смерти
							li
								span Виртуальное моделирование
							li
								span Виртуальное моделирование (продолжение)
							li
								span Виртуальное моделирование (продолжение)
							li
								span Как деактивировать негативные программы в виртуальном поле
							li
								span Работа с эгрегорами методом виртуального моделирования
					td
					td.plus +
					td.plus +
					td.plus +
				tr
					td
						p
							strong Бонусное занятие 
							| Магическая диагностика
					td
					td.plus +
					td.plus +
					td.plus +
				tr
					td 
						p Энергетическая перезагрузка
						span.more Подробнее
						ul.more_list
							li
								span Кардинальная проработка здоровья
							li
								span Кардинальная проработка здоровья (продолжение)
							li
								span Комплексная работа с лишним весом
							li
								span Кардинальная проработка личной жизни
							li
								span Кардинальная проработка личной жизни (продолжение)
							li
								span Энергетический трансформатор
							li
								span Все о вашем предназначении
							li
								span Все о вашем предназначении (продолжение)
							li
								span Все о вашем предназначении (продолжение)
							li
								span Кардинальная проработка финансовой сферы
							li
								span Кардинальная проработка финансовой сферы (продолжение)
							li
								span Кардинальная проработка финансовой сферы (продолжение)
					td
					td
					td.plus +
					td.plus +
				tr
					td
						p
							strong Бонусное занятие 
							| Все о заговорах и заклинаниях
					td
					td
					td.plus +
					td.plus +
				tr
					td 
						p Магия как бизнес
						span.more Подробнее
						ul.more_list
							li
								span Организация магического бизнеса и применение магии в обычном бизнесе
							li
								span Организация магического бизнеса и применение магии в обычном бизнесе(продолжение)
							li
								span Организация магического бизнеса и применение магии в обычном бизнесе(продолжение)
							li
								span Организация магического бизнеса и применение магии в обычном бизнесе(продолжение)

					td
					td
					td
					td.plus +
				tr
					td
						p
							strong Бонусное занятие 
							| Защитная магия для себя и дома
					td
					td
					td
					td.plus +
				tr.full
					td Стоимость пакета
					td 11 900р.
					td 33 900р.
					td 45 900р.
					td 50 900р.
				tr.sale
					td Скидка
					td 
						span#sale_1 2 000р.
					td 
						span#sale_2 4 000р.
					td 
						span#sale_3 6 000р.
					td 
						span#sale_4 8 000р.
				tr.today
					td Стоимость сегодня
					td
						span#today_1 9 900р.
					td
						span#today_2 29 900р.
					td
						span#today_3 39 900р.
					td
						span#today_4 49 900р.
				tr.buttons
					td
					td 
						a.button#link_1(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1520&clean=true&lg=ru", target="_blank") Записаться
					td 
						a.button#link_2(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1521&clean=true&lg=ru", target="_blank") Записаться
					td 
						a.button#link_3(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1522&clean=true&lg=ru", target="_blank") Записаться
					td 
						a.button#link_3(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1522&clean=true&lg=ru", target="_blank") Записаться
