//- Mixins for section
mixin reach(h5,p)
	h5= h5
	p= p
section#you_reach
	h3 Чему вы научитесь на курсе
		small (в рамках выбранного пакета)
	.container
	h4
		strong Тренинг "Получение ключей  силы и управления жизнью" 
		| состоит из 4 пакетов. Каждый пакет этого тренинга  представляет собой законченный алгоритм  для улучшения своей жизни  и работы с клиентом
	.reach_list
		.reach_wrapper
			.day_number
			.reach_caption
				+reach('Пакет “Серебро” включает в себя 6 занятий','Пройдя пакет “Серебро”,  вы получите полный алгоритм по  улучшению своей жизни, полный набор инструментов для получения ключей к ресурсам, познакомитесь со своим ангелом хранителем, сможете очищать свой сосуд греха, избавляться от врагов, настроиться на исцеление, перепрограммировать свои негативные удовольствия на позитивные  и сформировать себе новую судьбу')
		.reach_wrapper
			.day_number
			.reach_caption
				+reach('Пакет “Золото” включает в себя 14 занятий','Пройдя пакет “Золото”,  вы овладеете методом регрессии и виртуального моделирования. Погружаясь  с помощью регрессии в прошлые жизни,  вы сможете  избавиться от проблем, которые пришли из этих прошлых жизней в ваше нынешнее воплощение, а также получить ключ к  нужным вам ресурсам, которых не хватает или вообще нет в вашем нынешнем воплощении. С помощью виртуального моделирования  вы сможете смоделировать для себя  наилучший исход любой ситуации, наладить взаимоотношения с любым человеком, найти и исправить проблемы в родовой системе, избавиться от любого негативного магического воздействия')
		.reach_wrapper
			.day_number
			.reach_caption
				+reach('Пакет “Платина” включает в себя 26 занятий','Пройдя пакет “Платина”,  вы научитесь работать с эгрегорами, кардинально проработать  темы  здоровья, лишнего веса, алкогольной зависимости, денег, личной жизни, предназначения. Вы овладеете  техникой энергетического трансформатора  для моментального выхода  из самой тяжёлой ситуации  и трансформации своих проблем в  полезные ресурсы')
		.reach_wrapper
			.day_number
			.reach_caption
				+reach('Пакет “Супер-VIP”  включает в себя 30 занятий','Этот пакет для  профессионалов как в области  магии, так и в области любого бизнеса. Вы узнаете полностью стратегию запуска магического бизнеса, которую  можно использовать и для других видов бизнеса. Вы получите тайные знания  и откровенные ответы на вопросы  по ведению магического бизнеса, которые вам не расскажет ни один маг. Вы сможете  наладить идеальные взаимоотношения с эгрегором магии или любого другого  бизнеса и  получить его покровительство. Вы узнаете как защищать свою территорию от конкурентов и научитесь работать с продажей недвижимости')