#author
	h3
		position relative
		color: #fffefe
		background-color h3_brown
		width 100%
		padding: 42px 0
		&:before
		&:after
			content: ''
			width: 100%
			height: 1px
			background-color: lines
			position: absolute
			left: 0
			right 0
		&:before
			top: 10px
		&:after
			bottom: 10px
.veda_wrap
	background-image: url(../img/about_bg.jpg)
	background-position: center top
	background-size: cover
	background-repeat no-repeat
	width 100%
	padding-bottom: 70px
	a.button
		min-width: 300px;
#veda_about
	display: none
.author_caption
	width: 650px
	float: right
	margin: 65px 0 5px;
	h4
		font-size: 37px;
		font-family: 'RobotoBoldCondensed', sans-serif
		color pr_yellow
		margin-bottom: 25px
	p
		font-size: 18px;
		font-family: "RobotoRegular", sans-serif;
		color: #fefefd
		line-height: 1.6
		margin-bottom: 24px
#licenses
	.col-md-3
		height: 228px
		display: table
		a
			display: table-cell
			vertical-align: middle
			text-align: center