#bonus
#hw
	#pre
	h1
		text-align: center
	#first_screen_section
		padding-bottom: 40px
		.video_wrapper
			margin: 40px auto 15px
	.aut_n_date p
		text-align: center
	#footer
		background-image url(../img/last_bg.jpg)
		background-position: bottom center 
		background-size: cover
		background-repeat no-repeat
		background-attachment fixed
		width 100%
		padding: 70px 0 20px
		h3
			color h3_brown
			margin-bottom: 40px
		h5
			font-size: 24px;
			font-family: 'RobotoBoldCondensed', sans-serif
			line-height: 1
			margin-bottom: 23px
			color: #270103
.soc_buttons
	max-width 60%
	margin: 20px auto 0
	a
		display: inline-block
		margin: 0 13px 20px
		position relative
		z-index: 1
		&:before
			content: ''
			width: 31px
			height: 31px
			border-radius: 5px
			background-color: h3_brown
			position absolute
			top: 0
			left 0
			right: 0
			bottom: 0
			transform: rotate(45deg)
			z-index: -1
		&:hover:before
			background-color: #a63c08
		&:hover
			.fa
				color: h3_brown
		.fa
			font-size: 20px
			color #a63c08
			line-height: 31px
			width: 30px
			margin: 0 auto