#main_screen
    background-image: url(../img/bg.jpg)
    background-repeat: no-repeat
    background-position: center top
    background-size cover
    width 100%
    overflow: hidden
    padding-bottom: 20px
#header
    padding: 20px 18px 20px 5px
    overflow hidden
#logo
    float: left
.contacts
    float: right
    text-align: right
    .fa
        color: _orange
        font-size: 18px
        margin: 0 15px 0  40px
        &.fa-phone
            margin-left: 0
    .fa+span
        font-size: 18px;
        font-family: "OpenSansBold", arial;
        color: #fcfafa
        line-height: 26px
        text-align: right;
#first_screen_section
    padding: 0
    .container
        position: relative
        z-index: 9
        text-align: left
        .video_wrapper
            width: 44%
            margin: 15px 0
#pre
    font-size: 24px;
    font-family: 'RobotoBold', sans-serif
    color: _orange
    line-height: 25px
    text-transform: uppercase;
    margin-top:  32px

.aut_n_date
    overflow hidden
    p
        font-size: 22px;
        font-family: "RobotoRegular", sans-serif
        color: #fff
        float left
        &:first-child
            margin-right: 50px
        span
            font-family: 'RobotoBold', sans-serif
            color: _orange
#veda_main
    width: 708px
    height: auto
    position absolute
    bottom: -95px;
    right:-120px;
    z-index: -1
#course_first_screen_section
    padding-bottom: 60px
    #pre
        padding-top: 40px
        text-align: center
    h1
        text-align: center
    .aut_n_date
        width: 470px;
        margin: 40px auto 0
        text-align: center