#footer
	padding:  40px 0
	color: #fafbfe
	text-align: center
	h5
		font-size: 24px;
		font-family: 'RobotoBoldCondensed', sans-serif
		line-height: 1.042;
		margin-bottom: 20px
	p
	p+a
		font-size: 14px;
		font-family: "RobotoRegular", sans-serif;
		line-height: 1.571;
		color: #fefefe
		& + a
			text-decoration: underline
		& + a:hover
			text-decoration: none
.soc_buttons
	display: none
	max-width 55%
	margin: 20px auto 0
	a
		display: inline-block
		margin: 0 10px 10px
		.fa
			font-size: 20px
			color #000
			background-image linear-gradient(to top, #1c5768, #35c2db)
			padding-top: 5px
			border-radius: 50%
			width: 30px;
			height: 30px;
			transition: all .6s ease-out
			&:hover
				background-image linear-gradient(to top, #35c2db, #1c5768)
				transition: all .4s ease-in
#bonus
	.soc_buttons
		display: block

	

#myModalForm
	.modal-content
		background-color: h3_brown
		padding: 60px 0
		.close
			position: absolute
			top: 15px
			right 18px
			color: #ffffff
			font-size: 34px;
			float: none
			opacity: 1;
			text-shadow: 0 2px 1px #000;
			z-index: 9
			background-image: url(../img/planet_1.png);
			border: 0;
			border-radius: 100%;
			height: 50px;
			width: 50px;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center 4px;
			background-color: transparent;
#myModalForm form
	width: 80%
	margin: 0 auto
#myModalForm h3
	font-size: 27px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0 0 20px
	line-height: 1
	&:after
		margin-bottom: 20px
#myModalForm p
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 1;
	margin: 0 0 20px
#myModalForm input
	margin-bottom: 20px
#myModalForm .button
	width: 100%
#bonus #footer
	margin-top: 0
	padding: 40px 0