@media screen and (min-width: 1900px)
    .container
            width: 1360px
    #pre
    .aut_n_date p
        font-size: 28px
    h1
    h3
        font-size: 52px
    h2
        font-size: 38px
        width: 935px
    #first_screen_section .container .video_wrapper
        width: 50%
    #mail_section .col-md-3 h3
    .plan_caption h4
    .plan_wrapper .plan_bonus strong
        font-size: 34px
    #mail_section .col-md-3 p
    .button
        font-size: 32px
    .button
        min-width: 360px;
        line-height: 68px
    #mail_section .col-md-3 .infront_submit, #mail_section .col-md-3 .span_phone
    .author_caption p
        font-size: 22px
    .email-block input, .phone-block input
    #risons_slider .crsl-item .item p
    .plan_caption h4 small
    .plan_wrapper .plan_bonus
        font-size: 25px
    .form_newsletter .button
        min-width: 100%
        line-height: 49px;
    #risons_slider .crsl-item .item
        height: 290px
    .plan_caption ul li
        font-size: 24px
    .plan_wrapper
        height: 390px
    .plan_wrapper:nth-of-type(2)
        height: 440px
    .plan_wrapper .day_number
        top 53px
    .plan_wrapper:nth-of-type(2) .day_number
        top 78px
    .author_caption h4
        font-size: 42px
    .veda_wrap a.button
        min-width: 400px
    #footer p, #footer p + a
        font-size: 18px
@media screen and (max-width: 1199px)
    .contacts .fa
        margin: 0 12px
    #veda_main
        width: 527px
        right -160px
    .form_newsletter .button
        min-width: 100%
    #risons_slider .crsl-item .item
        height: 340px
    #licenses
        .col-md-3
            img
                width 100%
    #plan .container
        width: 970px
    .plan_wrapper
    .plan_wrapper:nth-of-type(2)
        width: 800px
        height: 380px
    .plan_wrapper .day_number
    .plan_wrapper:nth-of-type(2) .day_number
        top 48px