#plan
    background-image url(../img/plan_back.jpg)
    background-position: center top
    background-size: cover
    background-repeat no-repeat
    width: 100%
.plan_wrapper
    display: table
    border 1px solid #555555
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.051);
    width: 1135px
    height 420px
    padding: 40px
    margin-bottom: 40px
.img_wrapper
    display: table-cell
    vertical-align: middle
    width: 273px
.plan_caption
    padding-left: 90px
    h4
        font-size: 22px;
        font-family: "OswaldMedium", Arial;
        text-align: left;
        margin-bottom: 24px;
        line-height: 0.8;
    ul
        margin-left: 5px
        li
            font-size: 16px;
            font-family: "OpenSansRegular", arial;
            margin-bottom: 9px;
            line-height: 1.2;
            span
                color: rgba(255, 255, 255, 0.7)
.plan_wrapper
    &:nth-of-type(1)
        .plan_caption
            h4
            li
                color: #716654
.plan_wrapper
    &:nth-of-type(2)
        .plan_caption
            h4
            li
                color: #06b091
.plan_wrapper
    &:nth-of-type(3)
        .plan_caption
            h4
            li
                color: #ad7441
.plan_wrapper
    &:nth-of-type(4)
        .plan_caption
            h4
            li
                color: #b4373a
.plan_wrapper
    &:nth-of-type(5)
        .plan_caption
            h4
            li
                color: #0488e1
