#table_section
	background-image: url("../img/plan_bg.jpg");
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 100px;
	h3
		position relative
		color: #fffefe
		background-color h3_brown
		width 100%
		padding: 42px 0
		margin-bottom: 80px
		line-height: 1.2
		&:before
		&:after
			content: ''
			width: 100%
			height: 1px
			background-color: lines
			position: absolute
			left: 0
			right 0
		&:before
			top: 10px
		&:after
			bottom: 10px
#pay_table
#mob_pay_table
	width: 100%
	font-size: 16px
	font-family: 'RobotoRegular', sans-serif
	color: rgba(0,0,0,0.9);
	line-height: 1.1;
	border: 1px solid rgba(#aaa,1);
	border-radius: 5px;
	background-color: rgba(255,255,255,.95);
	border-collapse: inherit;
	margin-bottom: 40px
	box-shadow 0 3px 15px 0 rgba(0,0,0,0.4)
	tr
		th
			font-size: 20px
			font-family: 'RobotoBoldCondensed', sans-serif
			text-align: center
			padding: 10px
			border: 1px solid rgba(#eee,1);
			&:nth-child(2)
				color:#828282
			&:nth-child(3)
				color:#9e8b3d
			&:nth-child(4)
				color:#aa723d
			&:nth-child(5)
				color: pr_blue
		td
			padding: 10px 20px
			border: 1px solid rgba(#eee,1);
			text-align: center
			&:first-child
				text-align: left;
				width: 50%
				strong 
					color: #88d6e7
					font-size: 120%
			&.plus
				font-size: 48px
				font-family: 'RobotoRegular', sans-serif
				padding: 0 20px
				&:nth-child(2)
					color: #828282
				&:nth-child(3)
					color: #9e8b3d
				&:nth-child(4)
					color: #aa723d
				&:nth-child(5)
					color: pr_blue
			&.initial
				font-size: 18px
	.hours td
		font-size: 22px
		font-family: "OpenSansBold", arial;
		&:nth-child(2)
			color: #828282
		&:nth-child(3)
			color: #9e8b3d
		&:nth-child(4)
			color: #aa723d
		&:nth-child(5)
			color: pr_blue

	.full
	.sale
	.today
		font-size: 20px
		font-family: "OpenSansBold", arial;
	.full td
		text-decoration: line-through
		&:first-child
			text-decoration: none
	.sale
		color: red
	.today
		color #00FF7F
	.buttons
		td
			padding: 0
			.button
				width: 100%
				height: 100%
				margin: 0
				min-width: 0
				line-height: 1.9;
				padding: 0;
.alert-danger
	color: #a94442;
	background-color: #f2dede;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	margin-top: 40px;
	font-size: 32px;
#mob_pay_table
	display: none
	text-align: center
	width: 560px
	margin: 0 auto 40px
	.sale span 
	.today span
		display block
#mob_pay_table tr td:first-child
	text-align: center