#testimonials
    background-image url(../img/testimonials_back.jpg)
    background-position: bottom center 
    background-size: cover
    background-repeat no-repeat
    width 100%
#video_slider
    margin-bottom: 25px
    .crsl-wrap
        margin-bottom: 30px
        .video_wrapper 
            margin: 0 auto
    .slidernav
        position relative
        width: 710px;
#v-testm-btns
    width: inherit;
    position: absolute;
    bottom: 192px;
    height: 0;
#text_slider
    .crsl-wrap
        margin-bottom: 30px
    .crsl-item
        text-align: center;
        width: 920px
        margin:  0 auto
        img
            display block
            margin: 0 auto 15px
        h5
            font-size: 18px;
            font-family: "OswaldMedium", Arial;
            color: #fdfefe
            line-height: 1.833;
            margin-bottom: 25px
        p
            font-size: 16px;
            font-family: "OpenSansRegular", arial;
            color: rgb(253, 254, 254);
            line-height: 1.5;
            text-shadow: 0px 0px 12.96px rgba(0, 0, 0, 0.25)