#you_reach
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
	h3
		position relative
		color: #fffefe
		background-color h3_brown
		width 100%
		padding: 42px 0
		margin-bottom: 80px
		line-height: 1.2
		&:before
		&:after
			content: ''
			width: 100%
			height: 1px
			background-color: lines
			position: absolute
			left: 0
			right 0
		&:before
			top: 10px
		&:after
			bottom: 10px
		small
			display: block
	h4
		font-size: 28px;
		font-family: 'RobotoRegular', sans-serif
		line-height: 33px
		text-align: center;
		color h3_white
		width: 60%
		margin: 0 auto 40px
		strong
			font-family: 'RobotoBold', sans-serif;
			color: #d85007
			display block
.reach_list
	width 1066px
	margin: 0 auto
.reach_wrapper
	border: 1px solid;
	border-radius: 5px;
	width: 947px;
	height: 330px;
	padding: 25px;
	margin-bottom: 60px;
	background-color: #fff;
	box-shadow: 0 3px 15px 0 rgba(0,0,0,0.24);
	position: relative;
	clear: both;
	.day_number
		width: 284px;
		height: 284px;
		background-image: url("../img/packets.png");
		background-repeat: no-repeat;
		background-position: 0 0;
		position: absolute;
		top: 23px;
	h5
		font-size: 27px;
		font-family: 'RobotoBoldCondensed', sans-serif;
		line-height: 1;
		margin-bottom: 25px
	p
		font-size: 20px;
		font-family: 'RobotoRegular', sans-serif;
		line-height: 1.1;
	&:nth-of-type(1)
		float: right;
		border-color: #567754;
		padding-left 195px
		.day_number
			left: -142px;
		h5
			color: #567754;
	&:nth-of-type(2)
		float: left;
		border-color: #a63c08;
		padding-right 195px
		.day_number
			right: -142px;
			background-position-x: -284px
		h5
			color: #a63c08
	&:nth-of-type(3)
		float: right;
		border-color: #d78f01
		padding-left 195px
		.day_number
			left: -142px;
			background-position-x: -568px
		h5
			color: #d78f01
	&:nth-of-type(4)
		float: left
		border-color: #364453
		padding-right 195px
		.day_number
			right: -142px;
			background-position-x: -852px
		h5
			color: #364453